<app-menubar [menuList]="topMenu" (onSelected)="toMenuClick($event)"></app-menubar>
<div class="row dashboard">
	<div class="col-9">
		<div class="row">
			<div class="col-12">
				<div class="reps-filter sw">
					<div class="col-4">
						<ng-select class="custom" [items]="items" [searchable]="0" [placeholder]="'Select Rep'" bindLabel="name"></ng-select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-8 ">
				<div class="funnel">
					<div class="funnel-data">
						<div class="heading">Calls</div>
						<div class="value">10/15</div>
					</div>
					<div class="funnel-data">
						<div class="heading">Calls</div>
						<div class="value">10/15</div>
					</div>
					<div class="funnel-data">
						<div class="heading">Calls</div>
						<div class="value">10/15</div>
					</div>
					<div class="funnel-data">
						<div class="heading">Calls</div>
						<div class="value">10/15</div>
					</div>
					<div class="funnel-data">
						<div class="heading">Calls</div>
						<div class="value">10/15</div>
					</div>
					<div class="funnel-data">
						<div class="heading">Calls</div>
						<div class="value">10/15</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card sw calls">
					<div class="heading">Calls</div>
					<div class="value">10/15</div>
				</div>
				<div class="card sw wins">
					<div class="heading">Wins</div>
					<div class="value">1/3</div>

				</div>
				<div class="card sw revenue">
					<div class="heading">Incremented Revenue</div>
					<div class="value">80/120k</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3">
		<app-menubar [menuList]="leftMenu" (onSelected)="toLeftMenuClick($event)"></app-menubar>
		<app-left-card [leftCardDetails]="leftCardDetails"></app-left-card>
	</div>
</div>
<div class="row details-container">
	<div class="col-12">
		<h5>Details</h5>
		<div class="row">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Sale Rep</th>
						<th scope="col">Date</th>
						<th scope="col">Client</th>
						<th scope="col">Primary Contact Person</th>
						<th scope="col">Vertical</th>
						<th scope="col">Meeting Location</th>
						<th scope="col">Engagement Status</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>